# --- OS Garbage ---
.DS_Store
Thumbs.db

# --- Python / Backend ---
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env
.pytest_cache/
backend/venv/

# --- Node / Frontend ---
node_modules/
dist/
build/
.npm
frontend/node_modules/
frontend/dist/

# --- IDEs ---
.vscode/
.idea/